<div
  class="overview-wrapper absolute left-[359px] top-0 box-border h-screen w-[calc(100%-359px)]"
>
  <div
    class="absolute top-[19px] box-border flex w-full flex-row items-end justify-between gap-[151px] border-b border-[#D0D5DD] px-6 pb-4 pt-0"
  >
    <div
      class="order-[0] flex h-14 flex-none flex-grow-0 flex-col items-start gap-1 p-0"
    >
      <p
        class="order-[0] flex-none flex-grow-0 font-inter text-base font-normal leading-6 text-[#475467]"
      >
        Welcome Back
      </p>
      <p
        class="order-1 flex-none flex-grow-0 text-center font-inter text-lg font-semibold leading-7 text-[#1D2939]"
      >
        CGPA Calculator
      </p>
    </div>
    <div
      class="g-12 order-1 flex h-12 w-[410px] flex-none flex-grow-0 flex-row items-end gap-8 p-0"
    >
      <div
        class="px-o relative order-[0] flex h-12 w-[223px] flex-none flex-grow-0 flex-row items-center gap-4 rounded-lg py-2"
      >
        <p
          class="order-[0] h-6 w-[61px] flex-none flex-grow-0 text-center font-inter text-base font-medium leading-6"
        >
          Session
        </p>
        <select
          name="session"
          id="session"
          class="order-1 box-border flex h-[32px] w-[146px] flex-none flex-grow-0 appearance-none flex-row items-center justify-center rounded-lg border border-[#D0D5DD] bg-[#F2F4F7] px-3 py-1"
        >
          <option value="2020/2021" class="session-option">2020/2021</option>
          <option value="2021/2022" class="session-option">2021/2022</option>
          <option value="2022/2023" class="session-option" selected>
            2022/2023
          </option>
          <option value="2023/2024" class="session-option">2023/2024</option>
          <option value="2024/2025" class="session-option">2024/2025</option>
        </select>
        <img
          src="../../../assets/images/arrow-down.svg"
          alt="arrow down :)"
          class="absolute right-4 top-1/2 order-[0] h-6 w-6 flex-none flex-grow-0 -translate-y-1/2"
        />
      </div>
      <div
        class="order-[0] box-border flex h-10 w-[155px] flex-none flex-grow-0 flex-row items-center gap-3 rounded-lg border border-[#EAECF0] px-4 py-2"
      >
        <img
          src="../../../assets/images/calendar-icon.svg"
          alt="calender :)"
          class="order-[0] h-6 w-6 flex-none flex-grow-0"
        />
        <div
          class="order-1 h-4 w-[1px] flex-none flex-grow-0 bg-[#D0D5DD]"
        ></div>
        <div
          class="order-2 flex h-6 w-[72px] flex-none flex-grow-0 flex-row items-center justify-center gap-[9px] p-0"
        >
          <p
            class="order-[0] flex-none flex-grow-0 text-center font-inter text-base font-semibold leading-6 text-[#344054]"
          >
            23/05/23
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute top-[139px] flex h-12 w-full flex-row items-center gap-[calc(100%-809px)] px-6 py-0"
  >
    <div
      class="order-[0] flex h-12 w-[489px] flex-none flex-grow-0 flex-row items-start gap-4 p-0"
    >
      <div
        class="relative order-[0] flex h-12 w-[266px] flex-none flex-grow-0 flex-row items-center gap-4 rounded-lg p-2"
      >
        <p
          class="order-[0] flex-none flex-grow-0 text-center font-inter text-base font-medium leading-6 text-[#344054]"
        >
          Admission Mode
        </p>
        <select
          name="admission-mode"
          id="admission-mode"
          class="order-1 box-border flex h-[32px] w-[146px] flex-none flex-grow-0 appearance-none flex-row items-center justify-center rounded-lg border border-[#D0D5DD] bg-[#F2F4F7] px-3 py-1"
        >
          <option value="UTME" class="session-option" selected>UTME</option>
          <option value="DE" class="session-option">DE</option>
        </select>
        <img
          src="../../../assets/images/arrow-down.svg"
          alt="arrow down :)"
          class="absolute right-4 top-1/2 order-[0] h-6 w-6 flex-none flex-grow-0 -translate-y-1/2"
        />
      </div>
      <div
        class="order-1 flex h-12 w-[267px] flex-none flex-grow-0 flex-row items-center gap-4 rounded-lg p-2"
      >
        <div
          class="px-o relative order-[0] flex h-12 w-[223px] flex-none flex-grow-0 flex-row items-center gap-4 rounded-lg py-2"
        >
          <p
            class="order-[0] h-6 w-[61px] flex-none flex-grow-0 text-center font-inter text-base font-medium leading-6"
          >
            Semester
          </p>
          <select
            name="semester"
            id="semester"
            class="order-1 box-border flex h-[32px] w-[146px] flex-none flex-grow-0 appearance-none flex-row items-center justify-center rounded-lg border border-[#D0D5DD] bg-[#F2F4F7] px-3 py-1"
          >
            <option value="1" class="session-option" selected>
              First Semester
            </option>
            <option value="2" class="session-option">Second Semester</option>
          </select>
          <img
            src="../../../assets/images/arrow-down.svg"
            alt="arrow down :)"
            class="absolute right-4 top-1/2 order-[0] h-6 w-6 flex-none flex-grow-0 -translate-y-1/2"
          />
        </div>
      </div>
    </div>
    <div
      *ngIf="!noCoursePresent"
      class="order-1 flex h-11 w-[322px] flex-none flex-grow-0 flex-row items-start gap-4 p-0"
    >
      <button
        class="order-[0] flex h-11 w-[153px] flex-none flex-grow-0 flex-row items-start rounded-lg p-0"
        (click)="openAddCourseForm()"
      >
        <div
          class="order-[0] box-border flex h-11 w-[153px] flex-none flex-grow-0 flex-row items-center justify-center gap-2 rounded-lg border border-[#0052FC] bg-[#0052FC] px-8 py-[10px] drop-shadow-input-shadow"
        >
          <p
            class="order-[0] h-6 w-[89px] flex-none flex-grow-0 font-inter text-base font-semibold leading-6 text-[#FFFFFF]"
          >
            Add course
          </p>
        </div>
      </button>
      <button
        class="order-1 flex h-11 w-[153px] flex-none flex-grow-0 flex-row items-start rounded-lg p-0"
        (click)="toggleEditMode()"
      >
        <div
          class="order-[0] box-border flex h-11 w-[153px] flex-none flex-grow flex-row items-center justify-center gap-2 rounded-lg border border-[#D0D5DD] bg-[#FFFFFF] px-[18px] py-[10px] drop-shadow-input-shadow"
        >
          <p
            class="order-[0] h-6 min-w-[88px] flex-none flex-grow-0 font-inter text-base font-semibold leading-6 text-[#344054]"
          >
            {{ editMode ? "Close " : "" }}Edit course
          </p>
        </div>
      </button>
    </div>
  </div>
  <div
    *ngIf="noCoursePresent"
    class="absolute left-[calc(50%-265px/2)] top-[calc(287px+((100vh-287px)/3))] box-border flex h-[295px] w-[265px] -translate-y-1/2 flex-col items-center justify-around gap-6 rounded-2xl border border-[#D0D5DD] bg-[#FCFCFD] px-4 py-6 drop-shadow-add-coure-shadow"
  >
    <div
      class="relative order-[0] flex h-[179px] w-[180px] flex-none flex-grow-0 flex-col items-center gap-[25px]"
    >
      <div
        class="order-[0] flex h-[120px] w-[120px] flex-none flex-grow-0 justify-center"
      >
        <img
          src="../../../assets/images/add-coure-icon.svg"
          alt="add course :)"
          class="absolute -top-5 h-[161px] min-w-[212px]"
        />
      </div>
      <p
        class="order-1 h-12 w-[180px] flex-none flex-grow-0 text-center font-inter text-base font-medium leading-6 text-[#475467]"
      >
        Add your courses to get started
      </p>
    </div>
    <button
      class="order-1 flex h-11 w-[233px] flex-none flex-grow-0 flex-row items-start rounded-lg p-0"
    >
      <div
        class="order-[0] box-border flex h-11 w-[233px] flex-none flex-grow-0 flex-row content-center items-center gap-2 rounded-lg border border-[#0052FC] bg-[#0052FC] px-[72px] py-[10px] drop-shadow-input-shadow"
      >
        <p
          class="order-[0] h-6 w-[89px] flex-none flex-grow-0 font-inter text-base font-semibold leading-6 text-[#FFFFFF]"
        >
          Add course
        </p>
      </div>
    </button>
  </div>
  <app-course-table
    class="absolute left-[4.166666667%] top-[224px] flex w-11/12 flex-row items-center p-0"
    *ngIf="!noCoursePresent"
    [courses]="courses"
  ></app-course-table>
</div>
